@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');



div#content {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 22px;
}

#background {
    background-color: #00B4D8;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: #e9e9e9;
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.book, .join {
    text-decoration: none;
    background-color: #03045E;
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #90E0EF;
    color: #03045E;  
}

.button-box {
    text-align: center;
}

.card-img {
    border: 10px solid #03045E;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #000;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img, .mountains {
    width: 100%;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

footer {
    background-color: #0077B6;
    color: #03045E;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    color: #90E0EF;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

h2 {
    margin: 0;
}

h4 {
    color: #000;
}

header {
    background-color: #0077B6;
    display: grid;
    grid-template-columns: 150px auto;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #fff;
}

.home-title {
    color: #000;
    font-family: "Shrikhand", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.icon {
    padding-top: 10px;
}

.logo, .icon {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

main.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #000;
}

.msg {
    background-color: #0077B6;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #000;
}

.msg h2 {
    color: #fff;
}

.msg p {
    color: #fff;
    font-size: .8em;
    padding-bottom: 15px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
   text-align: center;
   text-decoration: none;
   color: #fff;
   padding: 35px;
}

nav a:hover {
    background-color: #90E0EF;
    color: #03045E;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

/* Equipment Rentals Page */

main.equipment-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#banner-img {
    width: 100%;
    height: 100%;
    grid-row: 1/5;
}

.camping-equipment-card {
    width: 100%;
    background-color: #0077B6;
    grid-column: 2;
}

.rafting-equipment-card {
    background-color: #0077B6;
    grid-column: 4;
}

.camp-gear-card {
    grid-column: 2;
    grid-row: 2;
}

.rafting-gear-card {
    grid-column: 4;
    grid-row: 2;
}

.equipment-text {
    color: #fff;
    text-align: center;
}

.banner-title {
    font-size: 3em;
}

#banner {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 100px;
}

#banner-box {
    grid-row: 1;
    grid-column: 1;
}

#banner-msg {
    grid-row: 1;
    grid-column: 1;
    text-justify: center;
    text-align: center;
    color: #fff;
}

.camping-equipment-text {
    grid-column: 1/4;
    grid-row: 3/5;
    color: black;
}

.equipment-text {
    color: black;
}

.rafting-equipment-text {
    grid-column: 3/7;
    grid-row: 3/5;
}
@media screen and (max-width: 900px) {
    #hero, main.home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
  }